/* General Style */
.card {
    position: relative;
    overflow: hidden;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease;
}

.card-body {
    padding: 20px;
}

.btn-project-link {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 1.5rem;
    color: #fff;
    background-color: #000;
    border-radius: 50%;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn-project-link i {
    font-size: 1.2rem;
    line-height: 1;
}

.btn-project-link:hover {
    transform: scale(1.1);
    background-color: #333;
}

/* Category Button Styles */
.category-btn {
    margin: 0 10px;
    font-size: 1.1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.category-btn:hover {
    background-color: #007bff;
    color: #fff;
}

/* Hide Categories Initially */
.project-item {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.project-item.show {
    display: block;
    opacity: 1;
}

.project-item img {
    transition: transform 0.3s ease;
}

.project-item:hover img {
    transform: scale(1.1);
}

.project-categories {
    margin-bottom: 50px;
}

.project-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Animate when the page loads */
.project-item.show {
    animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
